---
import { getCollection } from "astro:content";
const teaching = await getCollection("teaching");
---

<div>
    <ul>
        {
            teaching.map((course) => (
                <li>
                    {course.data.role} for <strong>{course.data.title}</strong>{" "}
                    ({course.data.institute}, {course.data.period}{" "}
                    {course.data.year})
                </li>
            ))
        }
    </ul>
</div>
