---
import { getCollection } from "astro:content";
let teaching = await getCollection("teaching");
teaching = teaching.sort((a, b) => 
    b.data.start_date.valueOf() - a.data.start_date.valueOf(),
);
---

<div>
    <ul>
        {
            teaching.map((course) => (
                <li>
                    {course.data.role} for <strong>{course.data.title}</strong>{" "}
                    ({course.data.institute}, {course.data.period}{" "}
                    {course.data.year})
                    {course.data.short_links && (<ul>{course.data.short_links.map((link) => <li><a href={link.url}>{link.text}</a></li>)}</ul>)}
                </li>
            ))
        }
    </ul>
</div>
